<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.XSJ.Mapper.UserMapper.UserMapper">
    <!-- 动态更新用户信息：仅更新Map中存在的合法字段 -->
    <update id="updateUserByDynamicFields">
        UPDATE user
        <set>
            <foreach collection="filteredData" item="value" index="key" separator=",">
                <if test="key != 'id' and value != null">
                    ${key} = #{value}
                </if>
            </foreach>
        </set>
        WHERE EnCode = #{encode}
    </update>


</mapper>